<% let CONFIG_AVAILABLE = false %>
<% if(typeof CURRENT_CONFIG !== "undefined"){ %>
    <% CONFIG_AVAILABLE = true; %>
<% } %>

<% const base = "../elements" %>
<% const text_input = base + "/text-input.ejs" %>


<!DOCTYPE html>
<html>
<head>
  <script>
    function openTab(event, tabName) {
      var i, tabcontent, tablinks;

      // Hide all tab content
      tabcontent = document.getElementsByClassName("tab");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Remove 'active' class from all tab links
      tablinks = document.getElementsByClassName("tab-link");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab and add 'active' class to the clicked tab link
      document.getElementById(tabName).style.display = "block";
      event.currentTarget.className += " active";
    }
  </script>
</head>
<body>
  <div class="container" style="margin: auto; width: 75%;">
    <center>  <h1>Edit config</h1>
      <p>Change your configuration file below!</p> <p>The form below will automatically update as you fill it in.</p>
      </center>
  <div class="tab-container">
    <center>
    <div class="tab-links">
      <button class="tab-link active" onclick="openTab(event, 'tab1')">General</button>
      <button class="tab-link" onclick="openTab(event, 'tab2')">Weather</button>
      <button class="tab-link" onclick="openTab(event, 'tab3')">News</button>
      <button class="tab-link" onclick="openTab(event, 'tab4')">Channel Offline</button>
    <!--  <button class="tab-link" onclick="openTab(event, 'tab5')">Interface</button> -->
    </div>
    </center>
    <div id="tab1" class="tab" style="display: block;">
      <br>
    <center>  <h2>General Settings</h2></center>
      <% if(CONFIG_AVAILABLE){ %>
          <form method="post" action="/config" id="config-form">
              <div id="variables">
                  <% Object.keys(CURRENT_CONFIG).forEach(function(key){ %>
                    <% if(key !== 'theme' && !['processweather', 'processnews', 'processchanneloffline', 'generate_weatherv4', 'weathervideofadeoutduration', 'weathervideofadeinduration', 'weatheraudiofadeoutduration', 'weatheraudiofadeinduration', 'newsvideofadeoutduration', 'newsvideofadeinduration', 'newsaudiofadeoutduration', 'newsaudiofadeinduration', 'newsfeed', 'newsfeed1', 'newsfeed2', 'textspeed', 'newsduration'].includes(key)){ %>
                      <%- include(text_input, {
                          key,
                          label: CURRENT_CONFIG[key]
                      }) %>
                       <% } %>
                  <% }); %>
              </div>
          </form>
      <% }else{ %>
          <h1> Error loading configuration file... please check the server logs! </h1>
      <% } %>
    </div>
    <div id="tab2" class="tab">
      <br>
    <center>  <h2>Weather Settings</h2></center>
      <% if(CONFIG_AVAILABLE){ %>
          <form method="post" action="/config" id="config-form">
              <div id="variables">
                  <% Object.keys(CURRENT_CONFIG).forEach(function(key){ %>
                    <% if(key !== 'theme' && !['processnews', 'processchanneloffline', 'newsvideofadeoutduration', 'newsvideofadeinduration', 'newsaudiofadeoutduration', 'newsaudiofadeinduration', 'newsfeed', 'newsfeed1', 'newsfeed2', 'textspeed', 'newsduration', 'xmltv', 'videoresolution', 'log_location', 'log_days', 'state', 'city', 'output', 'customaudio', 'videolength'].includes(key)){ %>
                      <%- include(text_input, {
                          key,
                          label: CURRENT_CONFIG[key]
                      }) %>
                       <% } %>
                  <% }); %>
              </div>
          </form>
      <% }else{ %>
          <h1> Error loading configuration file... please check the server logs! </h1>
      <% } %>
    </div>
    <div id="tab3" class="tab">
      <br>
    <center>  <h2>News Settings</h2></center>
      <% if(CONFIG_AVAILABLE){ %>
          <form method="post" action="/config" id="config-form">
              <div id="variables">
                  <% Object.keys(CURRENT_CONFIG).forEach(function(key){ %>
                    <% if(key !== 'theme' && !['processweather', 'processchanneloffline', 'xmltv', 'videoresolution', 'log_location', 'log_days', 'state', 'city', 'output', 'customaudio', 'videolength', 'weatheraudiofadeinduration', 'weatheraudiofadeoutduration', 'weathervideofadeinduration', 'weathervideofadeoutduration', 'generate_weatherv4', 'videolength'].includes(key)){ %>
                      <%- include(text_input, {
                          key,
                          label: CURRENT_CONFIG[key]
                      }) %>
                       <% } %>
                  <% }); %>
              </div>
          </form>
      <% }else{ %>
          <h1> Error loading configuration file... please check the server logs! </h1>
      <% } %>
    </div>
    <div id="tab4" class="tab">
      <br>
    <center>  <h2>Channel Offline Settings</h2></center>
      <% if(CONFIG_AVAILABLE){ %>
          <form method="post" action="/config" id="config-form">
              <div id="variables">
                  <% Object.keys(CURRENT_CONFIG).forEach(function(key){ %>
                  <% if(key !== 'theme' && !['processnews', 'processweather', 'newsvideofadeoutduration', 'newsvideofadeinduration', 'newsaudiofadeoutduration', 'newsaudiofadeinduration', 'newsfeed', 'newsfeed1', 'newsfeed2', 'textspeed', 'newsduration', 'xmltv', 'videoresolution', 'log_location', 'log_days', 'state', 'city', 'output', 'customaudio', 'videolength', 'generate_weatherv4', 'weathervideofadeoutduration', 'weathervideofadeinduration', 'weatheraudiofadeoutduration', 'weatheraudiofadeinduration'].includes(key)){ %>
                      <%- include(text_input, {
                          key,
                          label: CURRENT_CONFIG[key]
                      }) %>
                       <% } %>
                  <% }); %>
              </div>
          </form>
      <% }else{ %>
          <h1> Error loading configuration file... please check the server logs! </h1>
      <% } %>
    </div>
  <!--  <div id="tab5" class="tab">
    <center>  <h2>Interface Settings</h2></center>
      <% if(CONFIG_AVAILABLE){ %>
          <form method="post" action="/config" id="config-form">
              <div id="variables">
                  <% Object.keys(CURRENT_CONFIG).forEach(function(key){ %>
                    <% if(key !== 'theme'){ %>
                      <%- include(text_input, {
                          key,
                          label: CURRENT_CONFIG[key]
                      }) %>
                       <% } %>
                  <% }); %>
              </div>
          </form>
      <% }else{ %>
          <h1> Error loading configuration file... please check the server logs! </h1>
      <% } %>
    </div>
    -->
  </div>
  </div>
</body>
</html>
