<div class="topnav" id="myTopnav">
    <a href="/" class="<%= page === 'Home' && 'active' %>">Home</a>
    <a href="/config" class="<%= page === 'Config' && 'active' %>">Config</a>
    <a class="d-none" href="/themes" class="<%= page === 'Themes' && 'active' %>">Themes</a>
    <a class="d-none" href="/updates" class="<%= page === 'Updates' && 'active' %>">Updates</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <a class="float-end notactive">V<%- version %></a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
