<div class="topnav" id="myTopnav">
    <a href="/" class="<%= page === 'Home' && 'active' %>">Home</a>
    <a href="/config" class="<%= page === 'Config' && 'active' %>">Config</a>
    <a href="/themes" class="<%= page === 'Themes' && 'active' %>">Themes</a>
    <a class="d-none" href="/updates" class="<%= page === 'Updates' && 'active' %>">Updates</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <a class="float-end notactive">Version: <%- version %></a>
    <a class="float-end notactive"></a>
    <a href="https://discord.gg/x4Nk4sfgSg" target="_blank" class="float-end"><iconify-icon icon="ion:logo-discord" style="font-size: 18px;"></iconify-icon></a>
    <a href="/documentation" class="<%= page === 'documentation' && 'active' %> float-end"><i class="fa" style="font-size:20px; color:white;">&#128214;</i></a>
    <a href="https://github.com/liam8888999/ErsatzTV-Filler" target="_blank" class="float-end"><i class="fa" style="font-size:20px; color:white;">&#xf09b;</i></a>
    <a href="http://192.168.0.69:8409" target="_blank" class="float-end"><img src="https://ersatztv.org/images/ersatztv-square-logo.png" alt="ErsatzTV" style="height:20px;"></img></a>
</div>





<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
