<% const base = "../elements" %>
<% const navbar = base + "/navbar.ejs" %>
<% const scripts = base + "/scripts.ejs" %>
<% const style = base + "/style.ejs" %>
<% const footer = base + "/footer.ejs" %>

<!DOCTYPE html>
<html>
<head>
    <title>ErsatzTV-Filler - <%= page %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<%- include(style) %>

</head>
<body class="dark-mode">

<%- include(navbar) %>


<div style="padding-top:60px;">
<span style="float: left; margin-left: 5px;"><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#4f6169', 'E1E4MI8T5');kofiwidget2.draw();</script> </span>

    <span style="float: right; margin-top: 8px; margin-right: 25px; font-size: 20px;">&#9788;</span>
<label class="switch" style="float: right; margin-right: 5px;">
  <input type="checkbox" id="theme-toggle" onclick="toggleTheme()">
  <span class="slider"></span>
</label>
    <span style="float: right; margin-top: 8px; margin-right: 5px; font-size: 20px;">&#x263e;</span>
</div>

<% if (authentication === true) { %>
  <a id="logout" href="/logout" class="button" style="float: right; margin-right: 35px;">
       <span>Log Out</span>
     </a>
<% } %>



<div class="page-container" style="margin: auto; width: 75%; padding-top: 10px;">
  <!-- JSON Popup -->
  <div id="jsonPopup" class="modal" style="padding-top: 60px;">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h3 id="jsonfileheading" style="padding-left: 10px; margin: auto;"></h3>
      <br>
      <pre id="jsonContent" style="padding-left: 10px; margin: auto;"></pre>
      <br>
    </div>
  </div>

    <%- body %>
    <%- include(footer) %>
</div>

<%- include(scripts) %>


</body>
</html>
